@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Variables
$outer-padding: 2.5rem;
$primary: #ffffff;
$secondary: #8c7ae6;
$third: #fbc531;
$section-spacing: 7rem 2.5rem 2.5rem 2.5rem;




body,html {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  position: relative;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;;
}
h4 {
  font-size: 2rem;
}

p,a {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  font-size: 2rem;
}


// UTILITIES
.btn {
  position: relative;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  background: $third;
  text-transform: uppercase;

  &:hover {
    color: #000;
    background: linear-gradient(180deg,#fbc531c8 0%, #fbc531  100%);
    box-shadow: 0 1px 1px #00000074; 
  }
}


// H E A D E R
header {
  background: $primary;

  ul {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .h-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $outer-padding;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.303);

    i {
      font-size: 2rem;
    }
  }
}

// MAIN
#main {
  .socials-sidebar {
    position: absolute;
    display: flex;
    background: $third;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 0rem 1rem 1rem 0;
    top: 30%;
    display: none;


    i {
      margin: 1rem 0;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

  }
}


// HERO
#hero {
  padding: 7rem 2.5rem 2.5rem 2.5rem;
  text-align: center;

  .hero-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    h1 {
      font-size: 2.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    p {
      line-height: 1.5;
      font-size: 1.6rem;
      max-width: 480px;
    }
  }

  .hero-btns {
    padding-top: 2.5rem;
    display: flex;
    gap: 3rem;
  }
}


.tech-stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: $section-spacing;
  margin-top: 3rem;
  background-color: $third;


  // grid areas
  .gb1 {
    grid-area: one;
  }
  .gb2 {
    grid-area: two;
  }
  .gb3 {
    grid-area: three;
  }


  .grid-tech-wrapper {
    display: grid;
    grid-template-areas: 
      'one'
      'two'
      'three'
  }
}



// KEYFRAMES
// @keyframes btnhover {
//   0% {
//     background: rgba(80, 203, 168, 0.5);
//   }

//   100% {
//     background: rgba(80, 203, 168, 1);
//   }
// }

// Media Queries

@media screen 
  and (min-width: 968px)
  and (max-width: 1200px){
  #main .socials-sidebar {
    display: flex;
  }
}
